<template name="home_page">
	Home for testing the SSO

	<div class="row">
		<div class='col-md-2 col-sm-2 col-xs-12'>
			<button type="submit" class="btn btn-primary qoll-connect">Submit</button>
		</div>

		<div class='col-md-10 col-sm-10 col-xs-0 qoll-data'>
			&nbsp;
		</div>
	</div>

	<div class="row">
		<div class='col-md-12 col-sm-12 col-xs-12'>
			<div id="images"></div><br>
			<iframe src="http://localhost:3000/" height="1000" width="100%" id="qoll_iframe"></iframe>
		</div>
	</div>

</template>